    

  <div class="card" style="height: 10rem;">
    <div class="card-header">
      <h3 class="card-title">{{post.title}}         
        <span class="card-subtitle" style="font-size: 1rem;">
        by {{getObjectProperty post 'user.name'}}
        - Posted:
        {{format_date post.createdAt}}
        Last Updated:
        {{format_date post.updatedAt}}
        </span>

        </h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.body}}</p>
    </div>
        {{#if same_user}}
        <div class="card-text" style="margin:0.2rem">
        <button type="button" class="btn btn-primary btn-sm" id="editPost">Edit post</button>
        <button type="button" class="btn btn-danger btn-sm" id="deletPost">Delete post</button>
         </div>
        {{/if}}
  </div>

{{#each comments as |comment|}}
<div class="card">
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Render user-specific data with Handlebars.js expressions -->
    <h3>{{comment.title}} <span style="font-size: 1rem;"> {{getObjectProperty comment 'user.name'}} said: </span></h2>
  </div>
  <div class="row-md-6">
    <p>{{comment.body}}</p>
  </div>
      <div class="card-text">
        <span class="card-subtitle" style="font-size: 1rem;">
        - Posted:
        {{format_date comment.createdAt}} at
        {{format_time comment.updatedAt}}
        </span>
    </div>
</div>
</div>  
{{/each}}

{{#if logged_in}}
<h2>Add a comment</h2>
<div class="form-group col-sm-8">
<form>
  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="commentBody" rows="4"></textarea>
  </div>
<button type="button" class="btn btn-primary" id="addComment">+ Add a comment</button>
</form>
</div>
{{else}}
<p><a href="/login">You must be logged in to comment</a></p>
{{/if}}


<script src="/js/addComment.js"></script>
<script src="/js/deletePost.js"></script>